nav {
  background: #ff8000;
   -webkit-box-shadow: 0 8px 6px -6px #999;
   height: 100px;
   left: 0;
   right: 0;
   top: 0;
   width: 100%;
 }

 nav a {
   text-decoration: none;
   color: white;
   font-family: Century Gothic;
   text-align: left;
   font-weight: 100;
   left: 25px;
   top: 15px;
 }

nav img {
  height: 30px;
}

nav ul {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 30px;
  margin-right: 25px;

}

nav li {
  display: inline-block;
  padding: 0 15px;
  margin: 0 20px;
}

.orange {
  display: inline-block;
  font-size: 50px;
  color: white;
  margin-left: 10%;


}
.orange span {
  font-weight: bold;

}

/** MIDDLE PART OF SITE **/
section {
  display: inline-block;
  width: 100%;
  height: auto;
}

.whole {
  display: inline-block;
  height: 50%;
  margin: 9% 11%;
  float: left;
  width: 20%;
}

.right {
  display: inline-block;
  float: right;
  width: 55%;
}

input {
  display: inline;
  height: 35px;
  width: 350px;
  background-color: #f2f2f2;
  float: right;
  position: absolute;

}

.search {
  float: right;
  width: 25%;
  margin: 3% 40%;
  padding: 0 20%;

}

.paragraph {
  font-family: 'Century Gothic', sans-serif;
  float: right;
  padding: 50px 0;
  margin: 10% 0;
  font-size: 50px;
}
.buttons {
  float: right;
  width:
}
