nav {
  background: #ff8000;
   -webkit-box-shadow: 0 8px 6px -6px #999;
   height: 100px;
   left: 0;
   right: 0;
   top: 0;
   width: 100%;
   position: absolute;
 }

 nav a {
   text-decoration: none;
   color: white;
   font-family: Century Gothic;
   text-align: left;
   font-weight: 100;
   left: 25px;
   top: 15px;
 }

nav img {
  height: 30px;
}

nav ul {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 30px;
  margin-right: 25px;

}

nav li {
  display: inline-block;
  padding: 0 15px;
  margin: 0 20px;
}

.orange {
  display: inline-block;
  font-size: 50px;
  color: white;
  margin-left: 10%;


}
.orange span {
  font-weight: bold;

}

/** MIDDLE PART OF SITE **/
section {
  display: inline-block;
  width: 100%;
  height: auto;
}

.whole {
  display: inline-block;
  height: 50%;
  margin: 14% 11%;
  float: left;
  width: 20%;
}

.right {
  display: inline-block;
  float: right;
  width: 55%;
}

input {
  display: inline;
  height: 35px;
  width: 350px;
  background-color: #f2f2f2;
  float: right;
}

}
.search {
  position: relative;
  float: right;
  width: 25%;
  margin: 10% 60px 3% 40%;
  padding: 0 20%;
}

.paragraph {
  font-family: 'Century Gothic', sans-serif;
  float: right;
  padding: 25px 0;
  margin: 15px 200px 30px 0;
  font-size: 50px;
  color: #ff8000;
}

.o {
  font-weight: bold;
}

.blue {
  font-weight: bold;
  color: 	#00ffff;
}

.buttons {
  display: inline-block;
  float: right;
  padding: 10px 50px;
  margin: 5px 50px 25px 10px;
  width: 85%;

}

.buttonA {
  border: none;
  background-color: #ff8000;
  font-size: 15px;
  color: white;
  text-align: center;
  width: 350px;
  height: 75px;
  margin-right: 30px;


}

.buttonB {
  border: none;
  background-color: #00ffff;
  font-size: 15px;
  color: white;
  text-align: center;
  height: 75px;
  width: 350px;
}

#site-footer {
  display: block;
  background: #00ffff;
  height: 90px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
